* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url("../tealsharkbig.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /*overflow: hidden;*/
}

/* Color Palette */
:root {
    --teal: rgba(0,153,153, 1);
    --yellow: rgba(255,255,102, 1);
    --pink: rgba(255,153,255, 1);
    --purple: rgba(75,0,130, 1);
    --lightp: rgba(255, 240, 245, 1);
}

/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--teal);
}

/* Header */
header {
    padding: 30px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(255,153,255, 0.7);
    color: var(--yellow);
    list-style: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header a {
    text-decoration: none;
    padding: 50px;
    font-size: 25px;
    font-weight: normal;
    color: var(--yellow);
}
a:hover {
    background-color: var(--teal);
    border: 1px thin var(--lightp);
    border-radius: 10px;
    padding: 10px
}
.hero {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
color: var(--pink);
font-size: 50px;
text-shadow: 0 0 10px rgba(255, 240, 245, 0.5);
font-weight: bold;
padding: 20px 0 20px;
margin: 0 50px;
border-bottom: 2px solid lavenderblush;
}

/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: var(--yellow);
    font-style: normal;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
}
.aboutme p {
    padding: 20px;
    margin: 20px;
}
.aboutme img {
    border: 3px solid rgba(255,153,255, 1);
    border-radius: 50px;
    opacity: 0.75;
}
.aboutme .para {
    border: 3px solid rgba(255,153,255, 1);
    border-radius: 10px;
    justify-content: center
}
h2 {
    display: inline;
    justify-content: left;
    color: var(--yellow);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    width: 100%; 
    padding: 70px;
    margin: 30px 70px;
    border-bottom: 1px solid lavenderblush;
}

/* Work */
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px;
    margin: 25px;
}
h3 {
    font-size: 15px;
    color: var(--yellow);
    font-style: normal;
    padding: 20px;
}
.grid-wrapper {
    display: flex;
    width: 80%
}
.grid-container {
    display: grid;
    /*grid-template-columns: 4fr 0fr 1.5fr 0fr;
    grid-template-rows: 2fr 0fr 1.5fr 2fr;*/
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    justify-content: space-around;
    grid-auto-flow: row;
    gap: 10px;
    padding: 50px
}
.grid-container a:hover {
    background-color:rgba(255,153,255, 1);
    padding: 10px
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
}
.grid-item.runbuddy {
    /*grid-column: span 14;
    grid-row: span 2;*/
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 12.80px;
    background-image: url("../running.jpg");
}
.grid-item.future-projects {
    /*grid-column: span 14;
    grid-row: span 2;*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: 12.80px;
    background-image: url("../crayons.jpg");
}
.grid-item.challenges {
    /*grid-column: span 14;
    grid-row: span 14;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 12.80px;
    background-image: url("../code.jpg");
}

/* Contact */
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contactinfo {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 20px;
    margin: 20px;
    border: 20px;
    border: 5px solid var(--pink);
    border-radius: 10px;
}
.contactinfo a {
    text-decoration: none;
    color: var(--yellow);
    font-size: large;
    font-style: normal;
    padding: 20px
}

/* References Footer */
.footer {
    text-decoration: none;
    font-size: 3px;
    color: var(--teal);
    padding: 200px 200px 0 0;
    margin-bottom: 0;
    margin-left: 0;
}
.footer a {
    text-decoration: none;
}